body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('backgroundimage.jpg.png'); /* Replace 'your-background-image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgb(73, 7, 73);
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li.logout-link {
  float: right; /* Move the logout link to the right */
}

.logout-link {
  text-decoration: none;
  color: #f44336;
  padding: 14px 16px;
  display: block;
}

.logout-link :hover {
  background-color: #f44336;
  color: white;
}

.header {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.navbar img:first-of-type {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

h1 {
  text-align: center;
  color: purple;
}

.header img:first-of-type {
    width: 50px;
    height: auto;
    margin-right: auto;  
}

.login-signup {
    float: left;
}

.login-signup a {
    margin-left: 10px;
    text-decoration: none;
    color: purple;
}

.main-content {
    margin: 20px;
}

form {
    max-width: 300px;
    margin: auto;
}

form label {
    font-weight: bold;
}

form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #a19c9c;
}
